/* Write your CSS here */
.google-suggestions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.google-logo {
  height: 150px;
  margin-right: 8px;
}

.search-icon {
  height: 16px;
  margin-left: auto;
  cursor: pointer;
}

.suggestions-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  list-style-type: none;
}
